$font-primary: 'Nunito Sans', sans-serif;

$font-weight-typography: 300;
$font-weight-medium: 600;
$font-weight-bold: 800;

$font-size-sm: 1rem;
$font-size-medium: 1.25rem;
$font-size-bold: 1.5rem;

$color-dark-mode-primary: #2b3743;
$color-light-mode-primary: #fafafa;
$color-dark-mode-secondary: #202d36;
$color-light-mode-secondary: #ffffff;
$color-dark-mode-text: #ffffff;
$color-light-mode-text: #111113;
$color-dark-mode-shadow: #000000;
$color-light-mode-shadow: #a0a0a0;
