@import 'reset', 'fonts', 'typography', 'animations';

:root {
  --background-color-primary: #{$color-light-mode-primary};
  --background-color-secondary: #{$color-light-mode-secondary};
  --color-text: #{$color-light-mode-text};
  --color-shadow: #{$color-light-mode-shadow};
}

:root.dark {
  --background-color-primary: #{$color-dark-mode-primary};
  --background-color-secondary: #{$color-dark-mode-secondary};
  --color-text: #{$color-dark-mode-text};
  --color-shadow: #{$color-dark-mode-shadow};
}

body {
  background-color: var(--background-color-primary);
  transition: background .25s;
  min-height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @include responsive(1440px) {
    max-width: 1440px;
  }
}

.not-found {
  margin-top: 2rem;
  font-weight: $font-weight-medium;
  font-size: 1.2rem;
}