.header {
  position: sticky;
  top: 0;
  background-color: var(--background-color-secondary);
  box-shadow: 0 -6px 12px 1px var(--color-shadow);
  padding: 1rem 0;
  z-index: 10;

  @include responsive(md) {
    font-size: $font-size-bold;
  }

  .container {
    @include flex-between;
  }

  &__title {
    font-size: inherit;
    font-weight: bold;
    color: var(--color-text);
    cursor: pointer;
  }

  &__btn {
    font-size: $font-size-sm;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: $font-weight-bold;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
