@import 'abstracts', 'base', 'layout', 'components';

:root {
  --background-color-primary: #{$color-light-mode-primary};
  --background-color-secondary: #{$color-light-mode-secondary};
  --color-text: #{$color-light-mode-text};
  --color-shadow: #{$color-light-mode-shadow};
}

:root.dark {
  --background-color-primary: #{$color-dark-mode-primary};
  --background-color-secondary: #{$color-dark-mode-secondary};
  --color-text: #{$color-dark-mode-text};
  --color-shadow: #{$color-dark-mode-shadow};
}
